/* src/component/TaskList/index.module.css */
.taskListContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.taskItems {
  padding: 0;
  flex-grow: 1;
}

.sortIcon {
  margin-left: 5px;
  font-size: 0.9em;
  color: #888;
}
